@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltipSend {
    position: relative;
    display: inline-block;
}

.tooltipSend .tooltipSendtext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltipSend:hover .tooltipSendtext {
    visibility: visible;
}